:root {
  --font-size: 62.5%;
  --font-primary: "Raleway";
  --font-secondary: "Playfair-Display";
  --font-accent: "Roboto";
}

body[data-theme="dark"] {
  --color-primary: white;
  --color-secondary: #242b33;
  --color-bg-footer: #2d343c;
  --color-accent: #d4c17f;
  --color-gradient-1: 36, 43, 51, 1;
  --color-gradient-2: 45, 52, 60, 0.38;
  --color-gradient-3: 36, 43, 51, 0;
  --color-gradient-4: 36, 43, 51, 0.38;
  --color-rgb-translucent-1: 255, 255, 255, 0.2;
  --color-rgb-translucent-2: 255, 255, 255, 0.7;
  --color-opacity: 0.7;
}

body[data-theme="light"] {
  --color-primary: #f5fe1a;
  --color-secondary: #2f3324;
  --color-bg-footer: #393c2d;
  --color-accent: #7fb9d4;
  --color-gradient-1: 47, 51, 36, 1;
  --color-gradient-2: 57, 60, 45, 0.38;
  --color-gradient-3: 47, 51, 36, 0;
  --color-gradient-4: 47, 51, 36, 0.38;
  --color-rgb-translucent-1: 0, 0, 0, 0.2;
  --color-rgb-translucent-2: 0, 0, 0, 0.5;
  --color-opacity: 0.3;
}
