.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--color-accent);
  color: var(--color-primary);
}
