.contacts {
  background-image: url("../../images/bg-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &::before {
    background: linear-gradient(
      rgba(var(--color-gradient-1)) 10%,
      rgba(var(--color-gradient-4)) 51%,
      rgba(var(--color-gradient-1)) 90%
    );
    z-index: 2;
  }

  &::after {
    background: rgba(var(--color-gradient-1));
    opacity: 0.9;
  }

  & .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding-bottom: 18rem;
    position: relative;
    z-index: 5;

    @media (max-width: 992px) {
      grid-template-columns: auto;
    }
  }

  .title--secondary {
    & + * {
      margin-top: 0;
    }
  }
}

.contacts__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  grid-column: 1/2;
  grid-row: 2/3;

  @media (max-width: 992px) {
    grid-column: 1/-1;
    grid-row: auto;
  }
}



.contacts__form {
  grid-row: 2/3;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media (max-width: 992px) {
    grid-row: auto;
  }

  @media (max-width: 768px) {
    grid-template-columns: auto;
  }
}
