.navigation {
}

@media (max-width: 768px) {
  .navigation--active {
    display: flex;
    position: absolute;
    min-height: fit-content;
    background-color: var(--color-bg-footer);
    inset: 0;
    z-index: 10;

    & .navigation__list {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .navigation__item {
      border-bottom: 0.2rem solid var(--color-secondary);
      height: 100%;
      display: flex;
      align-items: center;
      padding: 2rem 1.5rem;
    }
  }
}

.navigation__list {
  display: flex;
  gap: 4rem;
  font-size: 1.4rem;

  & ::first-letter {
    text-transform: uppercase;
  }
}
